In [2]:
# This is just importing certain libraries we will use consistently throughouit the porject
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import random
import requests

In [3]:
df = pd.read_csv("AUDUSD_60.csv")
df.head()

   1592341200  0.69012  0.69012.1  0.69012.2  0.69012.3   24.1106133  1
0  1592344800  0.69054    0.69054    0.69054    0.69054  1550.000000  2
1  1592348400  0.68870    0.68870    0.68663    0.68663    72.322400  2
2  1592355600  0.68434    0.68468    0.68434    0.68468    49.949900  2
3  1592366400  0.68525    0.68525    0.68490    0.68490  1678.753500  5
4  1592373600  0.68700    0.68700    0.68700    0.68700    21.977998  1

In [ ]:
def coins():
    currencies = []
    for

In [ ]:
import urllib.parse
import time
import hashlib
import hmac
import base64

def get_kraken_signature(urlpath, data, secret):

    postdata = urllib.parse.urlencode(data)
    encoded = (str(data['nonce']) + postdata).encode()
    message = urlpath.encode() + hashlib.sha256(encoded).digest()

    mac = hmac.new(base64.b64decode(secret), message, hashlib.sha512)
    sigdigest = base64.b64encode(mac.digest())
    return sigdigest.decode()

api_sec = "kQH5HW/8p1uGOVjbgWA7FunAmGO8lsSUXNsu3eow76sz84Q18fWxnyRzBHCd3pd5nE9qa99HAZtuZuj6F1huXg=="

data = {
    "nonce": str(int(1000*time.time()))
}

signature = get_kraken_signature("/0/public/Assets", data, api_sec)
print("API-Sign: {}".format(signature))