# Stock Trading Bot Ayyyyy
- api reference: https://www.alphavantage.co/documentation/

In [1]:
#This is just importing certain libraries we will use consistently throughouit the porject
import pandas as pd
import numpy as np
import json
import random
import requests

#### In order to access the data from the API, we need the following:
- api key: It's generated by the platform as a hash code that is unique to each user so it knows that they are authenticated to use the service
- Base URL: For all calls to the api, we use the same base url(`https://www.alphavantage.co/query?`). However, in order to get more specified data, such as weekly data or data from a certain stock ticker, we need to add that to the url as parameters. Since all will use the `base_url`, we instantiate a global variable that be used wherever we need in any function and so we don't have to keep re-pasting it.
- tickers: this is just an array of the s&p 500 tickers. We will obviously need an array of them because we want to examine multiple stocks, not just one

In [10]:
api_key = "FI0W1W7TPDCRLO18"
base_url = "https://www.alphavantage.co/query?"
tickers = ['IBM'] # this is just a test for now. Will add many more later, possibly thru another api

In [15]:
def intraday_req(ticker_arr):
    """This function takes in 1 parameter, the ticker array, and makes a request to the api with every single stock ticker symbol
    that is inside of the tickers array we creatred in the above cell."""
    function = "TIME_SERIES_INTRADAY"
    dfs = []
    for ticker in tickers:
        url = f"{base_url}function={function}&symbol={ticker}&interval=60min&apikey={api_key}"
        response = requests.get(url)
        data = response.json()
        print(data)
        # Extract the desired data from the response and convert it to a DataFrame
        time_series_data = data["Time Series (60min)"]
        df = pd.DataFrame.from_dict(time_series_data, orient='index')
        df['symbol'] = ticker  # Add a 'symbol' column with the ticker symbol

        # Append the DataFrame to the list
        dfs.append(df)
    result_df = pd.concat(dfs)

    return result_df

In [16]:
intraday_req(tickers)

{'Meta Data': {'1. Information': 'Intraday (60min) open, high, low, close prices and volume', '2. Symbol': 'IBM', '3. Last Refreshed': '2023-06-16 19:00:00', '4. Interval': '60min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}, 'Time Series (60min)': {'2023-06-16 19:00:00': {'1. open': '137.5200', '2. high': '137.5200', '3. low': '137.5000', '4. close': '137.5000', '5. volume': '374'}, '2023-06-16 17:00:00': {'1. open': '137.6400', '2. high': '137.6400', '3. low': '137.5800', '4. close': '137.5800', '5. volume': '4590'}, '2023-06-16 16:00:00': {'1. open': '137.5600', '2. high': '138.0000', '3. low': '137.4800', '4. close': '137.4800', '5. volume': '289011'}, '2023-06-16 15:00:00': {'1. open': '137.7400', '2. high': '137.9900', '3. low': '137.4700', '4. close': '137.5500', '5. volume': '966229'}, '2023-06-16 14:00:00': {'1. open': '137.8300', '2. high': '137.9300', '3. low': '137.6900', '4. close': '137.7400', '5. volume': '325190'}, '2023-06-16 13:00:00': {'1. open': '138.2200', '2. high': '138.2200', '3. low': '137.6019', '4. close': '137.8399', '5. volume': '320444'}, '2023-06-16 12:00:00': {'1. open': '138.0700', '2. high': '138.5300', '3. low': '138.0500', '4. close': '138.2200', '5. volume': '281419'}, '2023-06-16 11:00:00': {'1. open': '138.1600', '2. high': '138.2125', '3. low': '137.8200', '4. close': '138.0600', '5. volume': '363875'}, '2023-06-16 10:00:00': {'1. open': '138.8800', '2. high': '139.0000', '3. low': '138.1400', '4. close': '138.1700', '5. volume': '368040'}, '2023-06-16 09:00:00': {'1. open': '138.6700', '2. high': '139.4690', '3. low': '138.4300', '4. close': '138.8400', '5. volume': '1291699'}, '2023-06-16 08:00:00': {'1. open': '138.6400', '2. high': '138.7500', '3. low': '138.1600', '4. close': '138.7500', '5. volume': '1540'}, '2023-06-16 07:00:00': {'1. open': '138.7500', '2. high': '138.7500', '3. low': '138.7500', '4. close': '138.7500', '5. volume': '184'}, '2023-06-15 17:00:00': {'1. open': '138.2800', '2. high': '138.2800', '3. low': '138.2000', '4. close': '138.2200', '5. volume': '1369'}, '2023-06-15 16:00:00': {'1. open': '138.4000', '2. high': '138.4000', '3. low': '138.0200', '4. close': '138.0200', '5. volume': '28247'}, '2023-06-15 15:00:00': {'1. open': '138.7400', '2. high': '138.8000', '3. low': '138.2675', '4. close': '138.4300', '5. volume': '952806'}, '2023-06-15 14:00:00': {'1. open': '138.0400', '2. high': '138.8000', '3. low': '137.9000', '4. close': '138.7400', '5. volume': '439892'}, '2023-06-15 13:00:00': {'1. open': '138.2000', '2. high': '138.2500', '3. low': '137.8500', '4. close': '138.0400', '5. volume': '320718'}, '2023-06-15 12:00:00': {'1. open': '138.3100', '2. high': '138.4499', '3. low': '138.1600', '4. close': '138.1900', '5. volume': '319079'}, '2023-06-15 11:00:00': {'1. open': '137.9200', '2. high': '138.6200', '3. low': '137.9200', '4. close': '138.3200', '5. volume': '341073'}, '2023-06-15 10:00:00': {'1. open': '138.0000', '2. high': '138.2400', '3. low': '137.5638', '4. close': '137.9100', '5. volume': '411668'}, '2023-06-15 09:00:00': {'1. open': '137.0000', '2. high': '138.0300', '3. low': '137.0000', '4. close': '137.9900', '5. volume': '270433'}, '2023-06-15 08:00:00': {'1. open': '137.1881', '2. high': '137.1881', '3. low': '136.7500', '4. close': '136.7500', '5. volume': '1145'}, '2023-06-15 07:00:00': {'1. open': '136.9300', '2. high': '137.1900', '3. low': '136.9300', '4. close': '137.0000', '5. volume': '1609'}, '2023-06-15 05:00:00': {'1. open': '137.1100', '2. high': '137.1100', '3. low': '136.9000', '4. close': '136.9000', '5. volume': '304'}, '2023-06-14 18:00:00': {'1. open': '137.2000', '2. high': '137.3306', '3. low': '137.2000', '4. close': '137.3306', '5. volume': '201'}, '2023-06-14 17:00:00': {'1. open': '137.2200', '2. high': '137.2200', '3. low': '137.0101', '4. close': '137.0101', '5. volume': '788'}, '2023-06-14 16:00:00': {'1. open': '137.2000', '2. high': '137.5000', '3. low': '137.2000', '4. close': '137.5000', '5. volume': '219969'}, '2023-06-14 15:00:00': {'1. open': '137.5000', '2. high': '137.9037', '3. low': '136.9400', '4. close': '137.2300', '5. volume': '1155811'}, '2023-06-14 14:00:00': {'1. open': '138.3600', '2. high': '138.3600', '3. low': '137.2300', '4. close': '137.4500', '5. volume': '499168'}, '2023-06-14 13:00:00': {'1. open': '138.4250', '2. high': '138.4900', '3. low': '138.2250', '4. close': '138.3726', '5. volume': '247377'}, '2023-06-14 12:00:00': {'1. open': '138.7800', '2. high': '138.9300', '3. low': '138.3200', '4. close': '138.4300', '5. volume': '362433'}, '2023-06-14 11:00:00': {'1. open': '138.4900', '2. high': '138.8620', '3. low': '138.2700', '4. close': '138.7500', '5. volume': '427214'}, '2023-06-14 10:00:00': {'1. open': '138.4000', '2. high': '138.4898', '3. low': '137.7300', '4. close': '138.4700', '5. volume': '534149'}, '2023-06-14 09:00:00': {'1. open': '137.8900', '2. high': '138.7200', '3. low': '137.6137', '4. close': '138.3900', '5. volume': '325364'}, '2023-06-14 08:00:00': {'1. open': '137.8900', '2. high': '138.0000', '3. low': '137.6800', '4. close': '138.0000', '5. volume': '1471'}, '2023-06-14 07:00:00': {'1. open': '137.9400', '2. high': '137.9400', '3. low': '137.8500', '4. close': '137.8500', '5. volume': '471'}, '2023-06-14 06:00:00': {'1. open': '137.9500', '2. high': '137.9500', '3. low': '137.9500', '4. close': '137.9500', '5. volume': '351'}, '2023-06-14 04:00:00': {'1. open': '137.9500', '2. high': '137.9500', '3. low': '137.9500', '4. close': '137.9500', '5. volume': '200'}, '2023-06-13 19:00:00': {'1. open': '137.8000', '2. high': '137.8000', '3. low': '137.8000', '4. close': '137.8000', '5. volume': '100'}, '2023-06-13 18:00:00': {'1. open': '137.7994', '2. high': '137.7994', '3. low': '137.7787', '4. close': '137.7883', '5. volume': '1083'}, '2023-06-13 17:00:00': {'1. open': '137.5968', '2. high': '137.5968', '3. low': '137.5968', '4. close': '137.5968', '5. volume': '118'}, '2023-06-13 16:00:00': {'1. open': '137.6000', '2. high': '137.6000', '3. low': '137.6000', '4. close': '137.6000', '5. volume': '126238'}, '2023-06-13 15:00:00': {'1. open': '137.4400', '2. high': '137.6900', '3. low': '137.4200', '4. close': '137.6000', '5. volume': '707986'}, '2023-06-13 14:00:00': {'1. open': '137.7700', '2. high': '137.8200', '3. low': '137.2700', '4. close': '137.4200', '5. volume': '326509'}, '2023-06-13 13:00:00': {'1. open': '137.7450', '2. high': '137.9500', '3. low': '137.6500', '4. close': '137.7735', '5. volume': '310599'}, '2023-06-13 12:00:00': {'1. open': '137.9700', '2. high': '137.9900', '3. low': '137.6100', '4. close': '137.7570', '5. volume': '309965'}, '2023-06-13 11:00:00': {'1. open': '137.6600', '2. high': '138.1700', '3. low': '137.6300', '4. close': '137.9600', '5. volume': '508969'}, '2023-06-13 10:00:00': {'1. open': '136.9200', '2. high': '137.7600', '3. low': '136.4200', '4. close': '137.6100', '5. volume': '753261'}, '2023-06-13 09:00:00': {'1. open': '136.9400', '2. high': '137.3400', '3. low': '136.0000', '4. close': '136.9000', '5. volume': '424533'}, '2023-06-13 08:00:00': {'1. open': '136.4200', '2. high': '136.7700', '3. low': '136.1400', '4. close': '136.6500', '5. volume': '7112'}, '2023-06-13 07:00:00': {'1. open': '136.6000', '2. high': '136.6000', '3. low': '136.6000', '4. close': '136.6000', '5. volume': '208'}, '2023-06-12 19:00:00': {'1. open': '136.5800', '2. high': '136.5800', '3. low': '136.5200', '4. close': '136.5200', '5. volume': '1068'}, '2023-06-12 18:00:00': {'1. open': '136.5500', '2. high': '136.6800', '3. low': '136.5500', '4. close': '136.6800', '5. volume': '4145'}, '2023-06-12 17:00:00': {'1. open': '136.2000', '2. high': '136.2000', '3. low': '136.2000', '4. close': '136.2000', '5. volume': '190'}, '2023-06-12 16:00:00': {'1. open': '136.4200', '2. high': '136.4200', '3. low': '136.2500', '4. close': '136.4200', '5. volume': '79232'}, '2023-06-12 15:00:00': {'1. open': '136.1800', '2. high': '136.5430', '3. low': '136.1701', '4. close': '136.4200', '5. volume': '1006598'}, '2023-06-12 14:00:00': {'1. open': '135.9500', '2. high': '136.3350', '3. low': '135.9100', '4. close': '136.1600', '5. volume': '534471'}, '2023-06-12 13:00:00': {'1. open': '135.9900', '2. high': '136.0250', '3. low': '135.8400', '4. close': '135.9500', '5. volume': '359158'}, '2023-06-12 12:00:00': {'1. open': '136.1100', '2. high': '136.1300', '3. low': '135.9101', '4. close': '135.9900', '5. volume': '378013'}, '2023-06-12 11:00:00': {'1. open': '136.1000', '2. high': '136.3400', '3. low': '135.8700', '4. close': '136.1000', '5. volume': '419991'}, '2023-06-12 10:00:00': {'1. open': '136.2850', '2. high': '136.3700', '3. low': '135.8500', '4. close': '136.0900', '5. volume': '487125'}, '2023-06-12 09:00:00': {'1. open': '135.6500', '2. high': '136.6200', '3. low': '135.6500', '4. close': '136.2850', '5. volume': '612105'}, '2023-06-12 08:00:00': {'1. open': '135.5426', '2. high': '135.8000', '3. low': '135.2800', '4. close': '135.5000', '5. volume': '3791'}, '2023-06-12 07:00:00': {'1. open': '135.6000', '2. high': '135.6000', '3. low': '135.6000', '4. close': '135.6000', '5. volume': '280'}, '2023-06-12 06:00:00': {'1. open': '135.6000', '2. high': '135.6000', '3. low': '135.6000', '4. close': '135.6000', '5. volume': '105'}, '2023-06-09 16:00:00': {'1. open': '135.3000', '2. high': '135.5700', '3. low': '135.3000', '4. close': '135.5700', '5. volume': '41809'}, '2023-06-09 15:00:00': {'1. open': '135.3900', '2. high': '135.4550', '3. low': '135.1700', '4. close': '135.3000', '5. volume': '786259'}, '2023-06-09 14:00:00': {'1. open': '135.2950', '2. high': '135.4350', '3. low': '135.1550', '4. close': '135.3800', '5. volume': '274443'}, '2023-06-09 13:00:00': {'1. open': '135.2300', '2. high': '135.3500', '3. low': '135.1275', '4. close': '135.2500', '5. volume': '255923'}, '2023-06-09 12:00:00': {'1. open': '135.1700', '2. high': '135.3500', '3. low': '135.0300', '4. close': '135.2400', '5. volume': '369618'}, '2023-06-09 11:00:00': {'1. open': '135.8700', '2. high': '135.8726', '3. low': '135.0850', '4. close': '135.1500', '5. volume': '392796'}, '2023-06-09 10:00:00': {'1. open': '135.1700', '2. high': '136.1000', '3. low': '135.1550', '4. close': '135.8850', '5. volume': '717970'}, '2023-06-09 09:00:00': {'1. open': '134.1800', '2. high': '135.3100', '3. low': '134.1700', '4. close': '135.1300', '5. volume': '451145'}, '2023-06-09 08:00:00': {'1. open': '134.0001', '2. high': '134.2000', '3. low': '133.9511', '4. close': '134.1800', '5. volume': '1573'}, '2023-06-09 07:00:00': {'1. open': '134.3400', '2. high': '134.3400', '3. low': '134.3400', '4. close': '134.3400', '5. volume': '236'}, '2023-06-08 19:00:00': {'1. open': '134.0400', '2. high': '134.0400', '3. low': '134.0400', '4. close': '134.0400', '5. volume': '235'}, '2023-06-08 18:00:00': {'1. open': '134.2200', '2. high': '134.2400', '3. low': '134.2200', '4. close': '134.2400', '5. volume': '400'}, '2023-06-08 17:00:00': {'1. open': '133.9300', '2. high': '134.2800', '3. low': '133.9300', '4. close': '134.2000', '5. volume': '1395'}, '2023-06-08 16:00:00': {'1. open': '134.4100', '2. high': '134.4100', '3. low': '133.9200', '4. close': '133.9200', '5. volume': '52854'}, '2023-06-08 15:00:00': {'1. open': '134.6700', '2. high': '134.7700', '3. low': '134.4000', '4. close': '134.4010', '5. volume': '825065'}, '2023-06-08 14:00:00': {'1. open': '134.9200', '2. high': '135.0000', '3. low': '134.6200', '4. close': '134.6682', '5. volume': '361755'}, '2023-06-08 13:00:00': {'1. open': '134.8900', '2. high': '134.9800', '3. low': '134.5850', '4. close': '134.9000', '5. volume': '323865'}, '2023-06-08 12:00:00': {'1. open': '134.3000', '2. high': '135.0100', '3. low': '134.1600', '4. close': '134.8925', '5. volume': '368297'}, '2023-06-08 11:00:00': {'1. open': '134.2600', '2. high': '134.4200', '3. low': '134.0100', '4. close': '134.3000', '5. volume': '381359'}, '2023-06-08 10:00:00': {'1. open': '134.9550', '2. high': '134.9900', '3. low': '134.1373', '4. close': '134.2400', '5. volume': '623557'}, '2023-06-08 09:00:00': {'1. open': '134.4000', '2. high': '135.9800', '3. low': '134.4000', '4. close': '134.9400', '5. volume': '657078'}, '2023-06-08 08:00:00': {'1. open': '134.1800', '2. high': '134.1800', '3. low': '134.1800', '4. close': '134.1800', '5. volume': '553'}, '2023-06-08 07:00:00': {'1. open': '134.4000', '2. high': '134.4000', '3. low': '134.4000', '4. close': '134.4000', '5. volume': '199'}, '2023-06-07 19:00:00': {'1. open': '134.3500', '2. high': '134.3800', '3. low': '134.3500', '4. close': '134.3800', '5. volume': '476'}, '2023-06-07 17:00:00': {'1. open': '134.2700', '2. high': '134.3800', '3. low': '134.2700', '4. close': '134.2700', '5. volume': '9712'}, '2023-06-07 16:00:00': {'1. open': '134.3800', '2. high': '134.3800', '3. low': '134.1800', '4. close': '134.3200', '5. volume': '90450'}, '2023-06-07 15:00:00': {'1. open': '134.0700', '2. high': '134.4400', '3. low': '133.8600', '4. close': '134.3600', '5. volume': '1270920'}, '2023-06-07 14:00:00': {'1. open': '134.1400', '2. high': '134.1600', '3. low': '133.7300', '4. close': '134.0500', '5. volume': '574882'}, '2023-06-07 13:00:00': {'1. open': '133.4700', '2. high': '134.2400', '3. low': '133.2800', '4. close': '134.1500', '5. volume': '471712'}, '2023-06-07 12:00:00': {'1. open': '133.5401', '2. high': '133.8500', '3. low': '133.3200', '4. close': '133.4720', '5. volume': '470137'}, '2023-06-07 11:00:00': {'1. open': '133.2800', '2. high': '133.7500', '3. low': '133.0650', '4. close': '133.5250', '5. volume': '477773'}, '2023-06-07 10:00:00': {'1. open': '132.5600', '2. high': '133.9800', '3. low': '132.2300', '4. close': '133.3100', '5. volume': '1037023'}, '2023-06-07 09:00:00': {'1. open': '132.8400', '2. high': '132.8500', '3. low': '132.1900', '4. close': '132.6100', '5. volume': '340419'}, '2023-06-07 08:00:00': {'1. open': '132.8500', '2. high': '132.9200', '3. low': '132.6000', '4. close': '132.6000', '5. volume': '970'}, '2023-06-07 07:00:00': {'1. open': '132.7500', '2. high': '132.7500', '3. low': '132.7500', '4. close': '132.7500', '5. volume': '507'}}}

                      1. open   2. high    3. low  4. close 5. volume symbol
2023-06-16 19:00:00  137.5200  137.5200  137.5000  137.5000       374    IBM
2023-06-16 17:00:00  137.6400  137.6400  137.5800  137.5800      4590    IBM
2023-06-16 16:00:00  137.5600  138.0000  137.4800  137.4800    289011    IBM
2023-06-16 15:00:00  137.7400  137.9900  137.4700  137.5500    966229    IBM
2023-06-16 14:00:00  137.8300  137.9300  137.6900  137.7400    325190    IBM
...                       ...       ...       ...       ...       ...    ...
2023-06-07 11:00:00  133.2800  133.7500  133.0650  133.5250    477773    IBM
2023-06-07 10:00:00  132.5600  133.9800  132.2300  133.3100   1037023    IBM
2023-06-07 09:00:00  132.8400  132.8500  132.1900  132.6100    340419    IBM
2023-06-07 08:00:00  132.8500  132.9200  132.6000  132.6000       970    IBM
2023-06-07 07:00:00  132.7500  132.7500  132.7500  132.7500       507    IBM

[100 rows x 6 columns]

In [13]:
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IM&interval=5min&apikey={api_key}'
r = requests.get(url)
d = r.json()

print(d)

{'Error Message': 'Invalid API call. Please retry or visit the documentation (https://www.alphavantage.co/documentation/) for TIME_SERIES_INTRADAY.'}

##### Here is an example of an error message. This is due to the fact that I changed the ticker to be one from a fake company `IM`, which isn't a real ticker on s&p 500. Sometimes errors and bugs can be hella easy to spot or hard as sheesh and take hours, but just to expose y'all to sum error messaging and handling

In [14]:
df = pd.DataFrame.from_dict(f['Meta Data'], orient='index', columns=['Value'])
df.head()

TypeError: 'NoneType' object is not subscriptable