# Stock Trading Bot Ayyyyy
- api reference: https://www.alphavantage.co/documentation/

In [2]:
# This is just importing certain libraries we will use consistently throughouit the porject
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import random
import requests

#### In order to access the data from the API, we need the following:
- api key: It's generated by the platform as a hash code that is unique to each user so it knows that they are authenticated to use the service
- Base URL: For all calls to the api, we use the same base url(`https://www.alphavantage.co/query?`). However, in order to get more specified data, such as weekly data or data from a certain stock ticker, we need to add that to the url as parameters. Since all will use the `base_url`, we instantiate a global variable that be used wherever we need in any function and so we don't have to keep re-pasting it.
- tickers: this is just an array of the s&p 500 tickers. We will obviously need an array of them because we want to examine multiple stocks, not just one

In [3]:
api_key = "FI0W1W7TPDCRLO18"
base_url = "https://www.alphavantage.co/query?"
tickers = ['IBM', 'AAPL'] # This is just a test for now. Will add many more later, possibly thru another api

In [4]:
def weekly_req(ticker_arr):
    """This function takes in 1 parameter, the ticker array, and makes a request to the api with every single stock ticker symbol
    that is inside of the tickers array we creatred in the above cell. It then appends the data into a newly instantiated dfs array
    and concatenates it into a pandas dataframe for manipulation, modeling, and readability purposes."""
    function = "TIME_SERIES_DAILY_ADJUSTED"
    dfs = []
    for ticker in tickers:
        url = f"{base_url}function={function}&symbol={ticker}&apikey={api_key}"
        response = requests.get(url)
        data = response.json()
        # Extract the desired data from the json response and convert it to a DataFrame
        time_series_data = data["Time Series (Daily)"]
        df = pd.DataFrame.from_dict(time_series_data, orient='index')
        df['symbol'] = ticker  # Add a 'symbol' column with the ticker symbol

        # Append the DataFrame to the list
        dfs.append(df)
    result_df = pd.concat(dfs)

    return result_df

df=weekly_req(tickers)
df.reset_index(inplace=True)

In [5]:
df.rename(columns={'index': 'date'}, inplace=True)
df.head()

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,symbol
0,2023-06-20,136.36,137.23,135.89,135.96,135.96,4226993,0.0000,1.0,IBM
1,2023-06-16,139.23,139.469,137.47,137.48,137.48,7473676,0.0000,1.0,IBM
2,2023-06-15,137.27,138.8,137.175,138.4,138.4,3812582,0.0000,1.0,IBM
3,2023-06-14,137.8,138.93,136.94,137.2,137.2,4514888,0.0000,1.0,IBM
4,2023-06-13,136.51,138.17,136.0,137.6,137.6,3927331,0.0000,1.0,IBM

In [6]:
# Convert date column to date value instead of str in order to compare and filter for only 1 week prior
df['date'] = pd.to_datetime(df['date'])

# Calculate the start and end dates for the previous week
end_date = df['date'].max()
start_date = end_date - pd.DateOffset(weeks=1)

# Filter the DataFrame for the previous week
filtered_df = df[(df['date'] >= start_date) & (df['date'] <= end_date)]
filtered_df

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,symbol
0,2023-06-20,136.36,137.23,135.89,135.96,135.96,4226993,0.0000,1.0,IBM
1,2023-06-16,139.23,139.469,137.47,137.48,137.48,7473676,0.0000,1.0,IBM
2,2023-06-15,137.27,138.8,137.175,138.4,138.4,3812582,0.0000,1.0,IBM
3,2023-06-14,137.8,138.93,136.94,137.2,137.2,4514888,0.0000,1.0,IBM
4,2023-06-13,136.51,138.17,136.0,137.6,137.6,3927331,0.0000,1.0,IBM
100,2023-06-20,184.41,186.1,184.41,185.01,185.01,48964426,0.0000,1.0,AAPL
101,2023-06-16,186.73,186.99,184.27,184.92,184.92,101256225,0.0000,1.0,AAPL
102,2023-06-15,183.96,186.52,183.78,186.01,186.01,65433166,0.0000,1.0,AAPL
103,2023-06-14,183.37,184.39,182.02,183.95,183.95,57462882,0.0000,1.0,AAPL
104,2023-06-13,182.8,184.15,182.44,183.31,183.31,54929129,0.0000,1.0,AAPL

In [21]:
filtered_df['1. open'] = filtered_df['1. open'].astype(float)
filtered_df['2. high'] = filtered_df['2. high'].astype(float)
filtered_df['3. low'] = filtered_df['3. low'].astype(float)
filtered_df['4. close'] = filtered_df['4. close'].astype(float)
filtered_df['5. adjusted close'] = filtered_df['5. adjusted close'].astype(float)
filtered_df['6. volume'] = filtered_df['6. volume'].astype(int)
filtered_df['7. dividend amount'] = filtered_df['7. dividend amount'].astype(float)
filtered_df['8. split coefficient'] = filtered_df['8. split coefficient'].astype(float)

C:\Users\cschow\AppData\Local\Temp\ipykernel_5236\2032252482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['1. open'] = filtered_df['1. open'].astype(float)
C:\Users\cschow\AppData\Local\Temp\ipykernel_5236\2032252482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['2. high'] = filtered_df['2. high'].astype(float)
C:\Users\cschow\AppData\Local\Temp\ipykernel_5236\2032252482.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['3. low'] = filtered_df['3. low'].astype(float)
C:\Users\cschow\AppData\Local\Temp\ipykernel_5236\2032252482.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['4. close'] = filtered_df['4. close'].astype(float)
C:\Users\cschow\AppData\Local\Temp\ipykernel_5236\2032252482.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['5. adjusted close'] = filtered_df['5. adjusted close'].astype(float)
C:\Users\cschow\AppData\Local\Temp\ipykernel_5236\2032252482.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['6. volume'] = filtered_df['6. volume'].astype(int)
C:\Users\cschow\AppData\Local\Temp\ipykernel_5236\2032252482.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['7. dividend amount'] = filtered_df['7. dividend amount'].astype(float)
C:\Users\cschow\AppData\Local\Temp\ipykernel_5236\2032252482.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['8. split coefficient'] = filtered_df['8. split coefficient'].astype(float)

In [22]:
filtered_df.dtypes

date                    datetime64[ns]
1. open                        float64
2. high                        float64
3. low                         float64
4. close                       float64
5. adjusted close              float64
6. volume                        int32
7. dividend amount             float64
8. split coefficient           float64
symbol                          object
dtype: object

In [23]:
import statsmodels.api as sm

X = filtered_df[['1. open', '3. low', '5. adjusted close', '6. volume']]
y = filtered_df['2. high']

X = sm.add_constant(X)

model = sm.OLS(y, X)
results = model.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                2. high   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.905e+04
Date:                Tue, 20 Jun 2023   Prob (F-statistic):           1.22e-10
Time:                        17:25:53   Log-Likelihood:                 2.3669
No. Observations:                  10   AIC:                             5.266
Df Residuals:                       5   BIC:                             6.779
Df Model:                           4
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                 2.5469      1.945      1.310      0.247      -2.453       7.546
1. open               0.2643      0.184      1.433      0.211      -0.210       0.738
3. low                0.3424      0.257      1.332      0.240      -0.318       1.003
5. adjusted close     0.3845      0.136      2.822      0.037       0.034       0.735
6. volume          9.317e-09   1.05e-08      0.888      0.415   -1.76e-08    3.63e-08
==============================================================================
Omnibus:                        1.601   Durbin-Watson:                   2.665
Prob(Omnibus):                  0.449   Jarque-Bera (JB):                0.838
Skew:                           0.284   Prob(JB):                        0.658
Kurtosis:                       1.700   Cond. No.                     1.11e+09
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.11e+09. This might indicate that there are
strong multicollinearity or other numerical problems.

C:\Users\cschow\anaconda3\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "